.textField {
  margin-bottom: 8px !important;
  width: 100% !important;
}
.input {
  padding: 8px !important;
}

.editor {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.visitor {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.edit {
  padding-top: 8px;
}

.title {
  padding: 8px;
  overflow: auto;
}

@media (min-width: 600px) {
  .editor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: '. save cancel .';
  }

  .visitor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: '. becomeMember donate .';
  }

  .cancel {
    grid-area: cancel;
  }

  .save {
    grid-area: save;
  }

  .becomeMember {
    grid-area: becomeMember;
  }

  .donate {
    grid-area: donate;
  }

  .textField {
    width: 50% !important;
  }
}
