.items {
  display: grid !important;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
  padding: 0px !important;
  position: relative;
}

@media (min-width: 768px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.view {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: calc(100vh - 120px);
  justify-content: space-between;
}

.title {
  flex: 1 1 auto;
  align-self: center;
}

.content {
  flex: 1 1 auto;
}
.spacer {
  flex: 1 0 80px;
}

.button {
  position: fixed !important;
  bottom: calc(56px + 8px);
  left: 8px;
  width: calc(100vw - 16px);
}
