.items {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.item {
  flex: 1 1 auto;
  width: 100vw;
}

.button {
  left: 8px;
  width: calc(100vw - 32px);
  margin: 8px !important;
}

@media (min-width: 768px) {
  .items {
    flex-direction: row;
  }
  .item {
    margin: 8px;
  }
}
