.card {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.player {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: 50px 1fr 100px 50px;
  grid-template-areas: 'position name pod icon';
  justify-content: center;
  margin: 4px 0;
}

.position {
  grid-area: position;

  justify-self: center;
  align-self: center;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.name {
  grid-area: name;

  justify-self: start;
  align-self: center;
}

.pod {
  grid-area: pod;

  justify-self: end;
  align-self: center;
  width: 100%;
}

.icon {
  grid-area: icon;

  justify-self: end;
  align-self: center;
  width: 100%;
}

@media (min-width: 768px) {
}
