.card {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

.player {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 50px 1fr 100px 50px;
  grid-template-areas: 'position name chip icon';
  justify-content: center;
  margin: 4px 0;
}

.position {
  grid-area: position;
  justify-self: center;
  align-self: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  grid-area: position;
  justify-self: center;
  align-self: center;
}

.name {
  grid-area: name;
  justify-self: start;
  align-self: center;
}

.icon {
  grid-area: icon;

  justify-self: end;
  align-self: center;
  width: 100%;
}
.chip {
  grid-area: chip;
}
