.gameCard {
  margin-bottom: 16px;
}

.gameCard:hover {
  cursor: pointer;
}

.union {
  grid-area: union;
}

.name1 {
  grid-area: name1;
  justify-self: center;
  text-overflow: ellipsis !important;
  overflow: auto;
  max-width: 100%;
}

.name2 {
  grid-area: name2;
  justify-self: center;
  text-overflow: ellipsis !important;
  overflow: auto;
  max-width: 100%;
}

.score1 {
  grid-area: score1;
  justify-self: end;
}
.score2 {
  grid-area: score2;
  justify-self: start;
}

.main {
  display: grid !important;
  grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
  grid-template-areas:
    'event time time time field'
    'players1 time time time players2'
    'name1 score1 union score2 name2';
  column-gap: 4px;
  padding: 8px;
  overflow: auto !important;
}

.field {
  grid-area: field;
  margin: 8px !important;
  overflow: auto;
}

.event {
  grid-area: event;
  margin: 8px !important;
  overflow: auto;
}

.time {
  grid-area: time;
  margin: 8px !important;
  overflow: auto;
}

.players1 {
  grid-area: players1;
  justify-content: center;
  justify-self: center;
}
.players2 {
  grid-area: players2;
  justify-content: center;
  justify-self: center;
}

.bubbleStack {
  width: 8px;
  height: 8px;
}
