.game {
  display: grid !important;
  grid-template-columns: 1fr 20px 1fr 40px 1fr 20px 1fr;
  grid-template-areas: ' time leftTeamScore leftTeam VS rightTeam rightTeamScore field';
  column-gap: 4px;
  padding: 8px;
}

.leftTeam {
  grid-area: leftTeam;
  justify-self: end;
}

.rightTeam {
  grid-area: rightTeam;
  justify-self: start;
}

.VS {
  grid-area: VS;
}

.leftTeamScore {
  grid-area: leftTeamScore;
  justify-self: center;
  align-self: center;
}

.rightTeamScore {
  grid-area: rightTeamScore;
  justify-self: center;
  align-self: center;
}

.matchup {
  grid-area: matchup;
  justify-self: center;
}

.time {
  grid-area: time;
  align-self: center;
  padding-left: 8px;
}

.field {
  grid-area: field;
  align-self: center;
  padding-right: 8px;
}

.bailtxt {
  grid-area: bailtxt;
  justify-self: center;
}

.bail {
  display: grid !important;
  grid-template-columns: 1fr 20px 1fr 40px 1fr 20px 1fr;
  grid-template-areas: 'time . . bailtxt . .';
  column-gap: 4px;
  padding: 8px;
}

@media (min-width: 600px) {
  .game {
    grid-template-columns: 1fr 20px 1fr 60px 1fr 20px 1fr;
    grid-template-areas: ' time leftTeamScore leftTeam VS rightTeam rightTeamScore field';
  }
  .bail {
    display: grid !important;
    grid-template-columns: 1fr 20px 1fr 60px 1fr 20px 1fr;
    grid-template-areas: 'time . . bailtxt . .';
  }
}
