.container {
  grid-area: basicInfos;
  text-align: center;
  padding: 16px;
}

.name {
  margin-top: 8px;
  margin-bottom: 8px;
  grid-area: name;
}

.input {
  grid-area: input;
}

.cancel {
  margin-top: 8px !important;
}

.save {
  margin-top: 8px !important;
}

.editor {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'name name' 'input input';
}

@media (min-width: 768px) {
  .editor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: '. name name .' '. input input .' '. save cancel .';
  }

  .cancel {
    grid-area: cancel;
  }

  .save {
    grid-area: save;
  }
}
