.textField {
  margin-bottom: 8px !important;
  width: 100% !important;
}
.input {
  padding: 8px !important;
}

.buttons {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}
.edit {
  padding-top: 8px;
}
@media (min-width: 768px) {
  .buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: '. save cancel .';
  }
  .cancel {
    grid-area: cancel;
  }

  .save {
    grid-area: save;
  }
  .textField {
    width: 50% !important;
  }
}
