.card {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  grid-area: description;
  margin-top: 32px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 100%;
}
