.card {
  grid-area: funding;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.expand {
  transform: 'rotate(0deg)';
  margin-left: 'auto';
}
.expandOpen {
  transform: 'rotate(180deg)';
}
