.card {
  grid-area: funding;
  text-align: center;
}

.expand {
  grid-area: expand;
}

.bar {
  grid-area: bar;
}

.donate {
  grid-area: donate;
}

.goal {
  grid-area: goal;
  text-align: right;
}

.progression {
  grid-area: progression;
}

.funded {
  grid-area: funded;
  text-align: left;
}

.container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'bar bar bar' 'funded progression goal' '. . donate' 'expand expand expand';
}
