.button {
  margin-top: -12px !important;
}

.infos {
  display: grid !important;
  grid-template-columns: 8fr 3fr;
  grid-template-areas: 'name price' 'description description' 'sizes sizes' 'cart cart' 'cancel cancel';
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-right: 16px !important;
  margin-left: 16px !important;
  align-items: center !important;
  justify-content: center !important;
}

.name {
  grid-area: name;
  justify-self: start;
}

.price {
  grid-area: price;
  justify-self: end;
}

.description {
  grid-area: description;
  width: 100%;
  margin-top: 8px !important;
  resize: vertical;
  outline: none;
  font-family: 'Helvetica';
  font-size: 16px;
}

.sizes {
  grid-area: sizes;
}

.cart {
  grid-area: cart;
  margin-top: 8px !important;
}

.cancel {
  grid-area: cancel;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.upload {
  margin: 8px !important;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
}

@media (min-width: 600px) {
  .media {
    height: 400px;
  }
}
