knexfile.js
node_modules/
build/
npm-debug.log
.DS_Store
api/src/db/dbconfig.json
api/src/db/database.json
api/src/server/utils/keys
conf.js
pm2.json
api/src/db/connect_to_db.sh
.env
postgres-data/
get-docker.sh
api/src/db/migrations/20210114135650-achilleMigration.js
api/src/db/migrations/sqls/20210114135650-achilleMigration-down.sql
api/src/db/migrations/sqls/20210114135650-achilleMigration-up.sql
