knexfile.js
node_modules/
build/
npm-debug.log
.DS_Store
api/src/db/dbconfig.json
api/src/db/database.json
api/src/server/utils/keys
conf.js
pm2.json
api/src/db/connect_to_db.sh
.env
postgres-data/
get-docker.sh
