{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["**/*i18n/en/index.js", "**/*i18n/fr/index.js"],
      "options": {
        "printWidth": 100000
      }
    }
  ]
}
