.card {
  grid-area: nextEvents;
  text-align: center;
}

.title {
  padding-top: 16px;
}

.event {
  display: grid !important;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-areas: ' avatar infos expand' 'description description description';
}

.infos {
  grid-area: infos;
}

.avatar {
  grid-area: avatar;
}

.expand {
  grid-area: expand;
  justify-self: end;
}

.description {
  grid-area: description;
}

.tournoi {
  grid-area: tournoi;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'name circuit';
}

.name {
  grid-area: name;
  justify-self: left;
  align-self: flex-end;
}

.circuit {
  grid-area: circuit;
  justify-self: right;
  align-self: flex-end;
}
.placetime {
  grid-area: tournoi;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: 'date';
}

.place {
  grid-area: place;
  justify-self: right;
}
.date {
  grid-area: date;
  justify-self: left;
}
