.card {
    grid-area: login;
    margin-top: 32px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.loginButton {
    margin-left: auto;
    margin-right: auto;
}
.linksContainer {
    justify-content: space-between;
}
.button {
    width: 100%;
}