.card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.avatar {
  font-size: 24px !important;
  width: 64px !important;
  height: 64px !important;
}

.list {
  width: 100%;
}

.icon {
  margin-right: 24px;
}
