.infos {
  display: grid !important;
  grid-template-columns: 5fr 2fr;
  grid-template-areas: 'name price' 'description description' 'button button';
  padding-bottom: 16px !important;
  border-bottom: 1px solid rgb(207, 207, 207);
  margin-bottom: 8px;
  align-items: center !important;
  justify-content: center !important;
}

.name {
  grid-area: name;
  justify-self: start;
  overflow: auto !important;
  max-width: 100%;
}

.price {
  grid-area: price;
  justify-self: end;
}

.description {
  grid-area: description;
  overflow: auto !important;
}

.cartButtonChildren {
  flex: 1 1 0;
  height: fit-content;
  width: fit-content;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
}

.button {
  grid-area: button;
  justify-self: center !important;
  width: 50%;
  margin-top: 16px !important;
}

@media (min-width: 768px) {
  .media {
    height: 400px;
  }
}
