.game {
  margin-bottom: 16px;
}

.team {
  display: grid !important;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-areas: 'position name score';
  column-gap: 4px;
  padding: 8px;
}

.name {
  grid-area: name;
  justify-self: start;
}
.position {
  grid-area: position;
}

.score {
  grid-area: score;
  justify-self: center;
}

.main {
  display: grid !important;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: 'field . time';
}

.field {
  grid-area: field;
  margin: 8px !important;
}

.time {
  grid-area: time;
  margin: 8px !important;
}

@media (min-width: 600px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'field . time';
  }
}
