.container {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: 'basicInfos' 'buttons' 'nextEvents';
  row-gap: 32px;
  column-gap: 32px;
}

.buttons {
  justify-self: center;
}
