.card {
  display: flex;
  flex-direction: column;
}

.add {
  display: flex;
  flex-direction: row;
}

.button {
  flex: 1 1 auto;
}

.searchList {
  margin: 8px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.player {
  flex: 1 1 auto;
}

.listTitle {
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
}
