.title {
  color: white;
  background-color: #18b393;
  height: 24px;
  border-radius: 0;
  padding: 16px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-align: left;
  overflow: auto;
}

@media (min-width: 600px) {
  .title {
    border-radius: 4px 4px 0px 0px;
  }
}
