.div {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas: 'photo name quantity chip' 'date date date date';
  width: 100%;
  align-items: center;
}
.name {
  grid-area: name;
  overflow: auto;
}
.quantity {
  grid-area: quantity;
  overflow: auto;
}
.chip {
  grid-area: chip;
}
.mail {
  grid-area: mail;
}
.date {
  grid-area: date;
  overflow: auto;
}
.photo {
  grid-area: photo;
}

@media (min-width: 600px) {
  .photo {
    height: 64px !important;
    width: 64px !important;
  }
}
