.root {
  position: relative;
}

.listContainer {
  overflow: auto;
  max-height: 100vh;
}

.module > .paper > .listContainer {
  max-height: 360px;
}

.module > .paper {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  width: 400px;
}
