.card {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: 'description' 'team' 'contact';
}

.title {
  padding-bottom: 8px;
  padding-top: 8px;
}

.description {
  grid-area: description;
  text-align: start;
  padding: 8px;
}
.team {
  grid-area: team;
  text-align: start;
}

.contact {
  grid-area: contact;
  text-align: start;
}

.container {
  display: inline-flex !important;
}

.name {
  grid-area: name;
}

.text {
  grid-area: txt;
}

.listItem {
  padding: 0px !important;
}

.divider {
  margin: 4px !important;
}
