.game {
  display: grid !important;
  grid-template-columns: 20px 1fr 40px 1fr 20px;
  grid-template-areas: 'leftTeamScore leftTeam VS rightTeam rightTeamScore';
  column-gap: 4px;
  padding: 8px;
}

.leftTeam {
  grid-area: leftTeam;
  justify-self: end;
}

.rightTeam {
  grid-area: rightTeam;
  justify-self: start;
}

.VS {
  grid-area: VS;
  justify-self: center;
  align-self: center;
}

.leftTeamScore {
  grid-area: leftTeamScore;
  justify-self: center;
  align-self: center;
}

.rightTeamScore {
  grid-area: rightTeamScore;
  justify-self: center;
  align-self: center;
}

.matchup {
  grid-area: matchup;
  justify-self: center;
}

@media (min-width: 768px) {
  .game {
    grid-template-columns: 20px 1fr 60px 1fr 20px;
    grid-template-areas: 'leftTeamScore leftTeam VS rightTeam rightTeamScore';
  }
}
