.avatar {
  color: #18b393 !important;
  background-color: white !important;
}
.text {
  overflow: auto;
}

.secondaryActions {
  display: inline-flex;
}

.listItem {
  list-style-type: none !important;
}
