.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'name name .' 'amount amount .' 'card card card' '. button .';

  margin: 16px 16px;
}

.name {
  grid-area: name;
}

.amount {
  grid-area: amount;
}

.button {
  grid-area: button;
}
