.infos {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'name price' 'description description' 'sizes sizes' 'quantity quantity' 'cart cart';
  padding-bottom: 0px !important;
}

.name {
  grid-area: name;
  justify-self: start;
}

.price {
  grid-area: price;
  justify-self: end;
}

.description {
  grid-area: description;
  text-align: left;
  text-align: left;
  resize: none;
  outline: none;
  font-family: 'Helvetica';
  font-size: 16px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
}

.cart {
  grid-area: cart;
  margin: 16px !important;
  display: flex;
}

.cartButtonChildren {
  flex: 1 1 0;
  height: fit-content;
  width: fit-content;
}

.quantity {
  grid-area: quantity;
  width: 75%;
  margin: auto;
}

.sizes {
  grid-area: sizes;
  width: 75%;
  margin: auto;
}
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

@media (min-width: 600px) {
  .media {
    height: 400px;
  }
  .quantity {
    width: 25%;
  }

  .sizes {
    width: 25%;
  }
}
