.card {
  grid-area: funding;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
