.card {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 4px;
}
