.new {
  cursor: pointer;
  border-radius: 4px;
}

.new:hover {
  background-color: whitesmoke;
}

.old {
  cursor: pointer;
  border-radius: 4px;
}

.old:hover {
  background-color: whitesmoke;
}

.dot {
  left: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
