.text {
  text-align: center;
}

.center {
  position: absolute !important;
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  padding: 10px;
}

.logo {
  margin: 0 auto;
  grid-area: logo;
  width: 200px;
  height: 200px;
}

.img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 32px;
  display: grid !important;
  grid-template-areas: 'logo' 'login' 'signup' 'description';
  grid-template-columns: 1fr;
  column-gap: 8px;
  row-gap: 8px;
}

@media (min-width: 600px) {
  .container {
    margin-top: 64px;
    display: grid !important;
    grid-template-areas: 'logo' 'login' 'signup' 'description';
    grid-template-columns: 1fr;
    column-gap: 8px;
    row-gap: 8px;
    width: 500px !important;
  }
}
