.div {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas: 'photo name quantity select' 'date date  date mail';
  width: 100%;
  align-items: center;
}
.name {
  grid-area: name;
  overflow: auto;
}
.quantity {
  grid-area: quantity;
  overflow: auto;
}
.select {
  grid-area: select;
}
.mail {
  grid-area: mail;
}
.date {
  grid-area: date;
  overflow: auto;
}
.photo {
  grid-area: photo;
}

@media (min-width: 600px) {
  .photo {
    grid-area: photo;
    height: 80px !important;
    width: 80px !important;
  }
}
