.list {
  display: grid !important;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'item select';
}

.item {
  grid-area: item;
  overflow: auto !important;
}

.select {
  grid-area: select;
}

.text {
  width: 100% !important;
}
