body {
  margin: 0;
}

.app {
  width: 100%;
  height: calc(100vh - 112px);
  display: grid !important;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 56px calc(100vh - 112px) 56px;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
  overflow-y: scroll;
}
.footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .app {
    grid-template-rows: 56px calc(100vh - 56px) 0;
  }
}
