.img {
  width: 100%;
  height: auto;
}
.logo {
  margin: 0 auto;
  grid-area: logo;
  width: 200px;
  height: 200px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.content {
  padding-bottom: 16px;
}
