.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content {
  flex: 1 1 auto;
  padding: 16px;
}

.actions {
  display: flex;
  align-content: center;
  flex: 1 1 auto;
  align-self: center;
}
