.select {
  margin: 16px;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'cancel';
}
.cancel {
  grid-area: cancel;
  margin: 8px !important;
}
@media (min-width: 768px) {
  .buttons {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: '. cancel .';
  }
}
