.card {
  margin-left: 50%;
  margin-right: auto;
  max-width: 600px;
  width: 40%;
  padding-top: 24px;
  text-align: center;
}

.avatar {
  font-size: 24px !important;
  width: 64px !important;
  height: 64px !important;
}

.list {
  width: 100%;
}

.icon {
  margin-right: 24px;
}
