<!--Template added to all email so the user can unsubscribe.
variable name are text and link-->


<p style="font-size: 11px; line-height: 1.5; word-break: break-word; text-align: center; mso-line-height-alt: 21px; margin: 0;"><a href="<%= link %>" ><%= text %></a></p>
 