.bigCard {
  grid-area: roster;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: 'title' 'divider';
  text-align: center;
}
.title {
  grid-area: title;
  padding-top: 8px !important;
}

.container {
  padding: 0px !important;
  text-align: center;
}
.list {
  padding: 0px !important;
}

.listItem {
  display: grid !important;
  grid-template-columns: 1fr 15fr;
  grid-template-areas: 'number name' ' divider divider';
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  column-gap: 8px;
}

.name {
  grid-area: name;
  justify-self: start;
  align-self: center;
}

.number {
  grid-area: number;
  align-self: center;
}

.divider {
  grid-area: divider;
  margin-left: 0px;
  margin-right: 0px;
}
