.container {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: 'lieu' 'responsable' 'description' 'infos';
  row-gap: 16px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card {
  padding: 16px !important;
}

.description {
  grid-area: description;
  text-align: start;
}

.reponsable {
  grid-area: responsable;
}

.infos {
  grid-area: infos;
  text-align: start;
}

.location {
  grid-area: lieu;
}

.section {
  display: grid !important;
  grid-template-columns: 2fr 6fr;
  grid-template-areas: 'title text' 'divider divider';
  column-gap: 16px;
}

.title {
  grid-area: title;
}

.text {
  grid-area: text;
}
.divider {
  grid-area: divider;
  margin-left: 0px;
  margin-right: 0px;
}
