.container {
  text-align: center;
}
.card {
  text-align: center !important;
}
.title {
  padding: 16px !important;
}

.event {
  margin: auto;
}

@media (min-width: 768px) {
  .event {
    width: 700px !important;
    margin-bottom: -64px;
  }
}
