.card {
  grid-area: athleteHistory;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.textField {
  margin-right: auto;
  margin-left: auto;
}

.select {
  margin-right: auto;
  margin-left: auto;
}
