.card {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.default {
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: 50px 1fr 75px 50px;
  grid-template-areas: 'position title pod expand' 'expanded expanded expanded expanded';

  align-content: center !important;
  justify-content: center;
}

.position {
  grid-area: position;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-bottom: 8px;

  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  grid-area: title;

  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 8px;
}

.name {
  flex: 1 1 auto;
  display: flex;
  margin-left: 8px;
  font-size: 20px;
  align-content: center;
  justify-content: left;
  align-self: center;
  align-items: center;
}

.avatar {
  flex: 0 1 auto;
  margin-right: 16px;
}

.pod {
  grid-area: pod;

  justify-self: end;
  align-self: center;
  width: 100%;
  margin-bottom: 8px;
}

.expand {
  grid-area: expand;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  justify-content: center;
  justify-self: center;
  width: min-content;
}

.expanded {
  grid-area: expanded;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.5) !important;

  padding-bottom: 8px;
}

@media (min-width: 600px) {
  .paper {
    margin: 4px 0;
  }
}
