.mainDiv {
  top: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 192px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'buttons fields'
    'timeslots grid';
}

.gridLayout {
  grid-area: grid;
}

.gridLayoutTimes {
  grid-area: timeslots;
}

.gridLayoutFields {
  grid-area: fields;
}

.divButtons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: gainsboro;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: darkgray;
}

.displayFields {
  width: calc(100vw - 192px);
  overflow: hidden;
  background-color: gainsboro;
  box-shadow: 0 8px 6px -8px black;

  z-index: 1;
  position: sticky;
}

.displayTimeslots {
  height: calc(100vh - 84px);
  overflow: hidden;
  background-color: gainsboro;
  box-shadow: 8px 0 6px -8px black;

  z-index: 1;
  position: sticky;
}

.displayGrid {
  height: calc(100vh - 84px);
  width: calc(100vw - 192px);
  overflow: auto;
}

.divField {
  height: 98% !important;
}

.divTime {
  width: 99% !important;
}

.label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  text-align: center;
}

.divAddGame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divAddGame:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}
