.unplacedGames {
  display: flex;
  flex-direction: row;
  overflow: auto;
  overflow-y: hidden;
  height: 90px;
  padding: 5px;
}

.unplacedGames > div {
  margin: 5px;
  flex: none;
}

.divGrid {
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.gridLayout {
  position: relative;
}

.divAdd {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.divAddGame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divAddGame:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.divField {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.divTime {
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: black;
}

.label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
}
