.game {
  display: grid !important;
  grid-template-columns: 48px 16px 4fr 32px 4fr 16px 48px;
  grid-template-areas: ' time leftTeamScore leftTeam VS rightTeam rightTeamScore field';
  column-gap: 4px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.leftTeam {
  grid-area: leftTeam;
  justify-self: end;
}

.rightTeam {
  grid-area: rightTeam;
  justify-self: start;
}

.VS {
  grid-area: VS;
}

.leftTeamScore {
  grid-area: leftTeamScore;
  justify-self: center;
  align-self: center;
}

.rightTeamScore {
  grid-area: rightTeamScore;
  justify-self: center;
  align-self: center;
}

.matchup {
  grid-area: matchup;
  justify-self: center;
}

.time {
  grid-area: time;
  align-self: center;
  justify-self: end;
  padding-right: 8px;
}

.field {
  grid-area: field;
  align-self: center;
  justify-self: end;
  padding-right: 4px;
}

.bailtxt {
  grid-area: bailtxt;
  justify-self: center;
}

.bail {
  display: grid !important;
  grid-template-columns: 48px 16px 4fr 32px 4fr 16px 48px;
  grid-template-areas: 'time . . bailtxt . .';
  column-gap: 4px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

@media (min-width: 600px) {
  .game {
    grid-template-columns: 152px 24px 1fr 54px 1fr 24px 152px;
    grid-template-areas: ' time leftTeamScore leftTeam VS rightTeam rightTeamScore field';
  }
  .bail {
    display: grid !important;
    grid-template-columns: 152px 24px 1fr 54px 1fr 24px 152px;
    grid-template-areas: 'time . . bailtxt . .';
  }
  .time {
    padding-right: 32px;
  }
  .field {
    justify-self: center;
  }
}
