.card {
  padding-top: 16px;
  min-height: 80px;
  text-align: center;
  margin-bottom: 16px !important;
  width: 100%;
}

.title {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.button {
  margin: 8px;
}
