.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 4px;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.5em;
}
.separator::after {
  margin-left: 0.5em;
}

.list {
  margin-bottom: 16px !important;
}

.button {
  margin-bottom: 16px !important;
}
