.container {
  display: grid !important;
  grid-template-areas: 'text unconfirmed-icon delete-icon';
  grid-template-columns: auto 24px 24px;
  column-gap: 16px;
}

.textField {
  grid-area: text;
}
.unconfirmedIcon {
  grid-area: unconfirmed-icon;
}
.deleteIcon {
  grid-area: delete-icon;
}
