.sectionDesktop {
  display: flex;
  height: calc(100% - 20px);
  align-items: center;
}

.appBar {
  top: 0;
}

.toolbarDesktop {
  height: 64px;
}

.toolBar {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-right: 16px;
}
.img {
  height: 57px;
  width: 57px;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  flex: 1 1 auto;
}

.search {
  flex: 1 1 auto;
}

.cart {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.container {
  width: 100vw;
}

.circleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  margin-left: 4px;
}

.circleButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.iconButton {
  background-color: rgba(0, 0, 0, 0.05);
  height: 44px;
  width: 44px;
  margin-left: 4px;
}

.iconButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
