.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto 120px auto;
  background-color: rgb(0, 0, 0, 0.05);
  text-align: center;
  min-height: calc(100vh - 115px);
  width: 100vw;
}

@media (min-width: 600px) {
  .main {
    max-width: 700px !important;
    min-height: calc(100vh - 60px);
  }
}
